body{
  font-family: helvetica;
}
header {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7f/Cirrocumulus_to_Altocumulus.JPG")
}
section {
  max-width: 960px;
  border: 1px solid black;
}
.column-1 {
  width: 49%;
  display: inline;
  float: left;
}
.column-2 { 
  width: 49%;
  display: inline;
  float: right;
}
footer {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7f/Cirrocumulus_to_Altocumulus.JPG");
  clear: both;
  width: 100%;
}
ul, { 
    list-style-type: circle;
}
 
 