body{
    max-width: 960px;  
}

main { 
    width: 80%;
    float: right;
    display: inline;
    vertical-align: middle;   
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
    float:left;
}

cite {
  display: block;
  margin-top: 10px;
}
#external-links {
    margin: 5px;
    display: inline;
    width: 15%;
    vertical-align: middle;
    position: fixed;
    float:left;  }

#external-links ul {
  list-style-type: none;
  padding-left: 0px;}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

/*
@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
*/

@media screen and (max-width: 500px) {
    #external-links{
        top: 0px;
        right: 0px;
        text-align: center;
        width: 100%;
        position: absolute;
        display: inline;
    }
    #external-links > li{
        text-align: center;
    }
    main {
        float: bottom;
        display:block;
        width: 100%;
        text-align:center;
        position: relative;
        margin-top: 150px;
    }
    main > ol { 
        text-align: left; 
    }
    
}
@media screen and (min-width: 960px) {
    * { 
        font-weight: bold; 
    }
    p, blockquote , ol {
        font-size: 24px;
    }

}
